.sidebar {
  @apply w-[300px] bg-white flex flex-col justify-center  h-full shadow-sm;
}

.link {
  @apply my-3 px-5 py-5 relative z-10;
}
.link:hover {
  @apply text-[#095494];
}

.link::after {
  @apply bg-blue-100  -z-10;
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  left: 0;
  bottom: 0;
  transition: all 0.25s ease-in;
}

.link:hover::after {
  width: 100%;
}

.active {
  @apply bg-blue-100 text-[#095494];
}

.active::after {
  @apply absolute content-[''] w-[5px] h-full bottom-0 left-0 bg-[#095494] text-white;
  transition: all 0.25s ease-in;
}
